.menu{
    padding: 0 10px;
    .company_signature {
      h2{
      font-size: 0.9rem;
    }
    .bigger_sign{
      font-size: 1.1rem;
    }
    }
    .menu_section{
      left: -3%;
      .navigation_part{
        padding: 5px;
        font-size: 1rem;
         &::after{
        content: " ";
        
        top: 34px;
      left:-5px;
        width: 117px;
      }
      &:nth-of-type(2)::after{
        width: 75px;
      left: 3px;
      
      }
      &:nth-of-type(3)::after{
        left: 5px;
        width: 175px;
      }
      &:nth-of-type(4)::after{
        width: 50px;
        left: 3px;
      
      }
      &:nth-of-type(5)::after{
        width: 59px;
        left: 7px;
      
      }
      }
     
    }
  }
  