.realization_container{
  
    
    .col{
 
      width: 38%;
     
    }
    .vertical{
      width: 26%;
    }
}
.popUp{
 
.popUpImageArea{

  width: 70%;
  .img_title {
     
    top: 94%;
    right: 5%;}

}}

.realization_container{
      
  &.references{ 
    margin: 0;

}
}