.about_company{
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .about_text{
      z-index: 2;
      width: 50vw;
      height: 50vh;
      border: 2px solid white;
      background-color: rgb(37, 22, 104);
      color: white;
      position: relative;
      left: 12%;
      h2{
        font-size: 2rem;
        font-weight: 600;
        
        padding:  30px 30px 0 30px;
  
      }
      p{
        padding: 20px 50px;
        font-size: 1.1em;
        letter-spacing: 1.5px;
        line-height: 1.4;
      }
      
    }
    .about_img{
      z-index: 1;
      background-image: url("../assets/f-30444-od-czego-zaczac-tynkowanie-scian.jpg");
      width: 60vw;
      height: 55vh;
      background-size: cover;
      background-position: center;
      
    }
  
  
  }