.contact_section{
height: 70vh;
}
.contact{
    background-color: rgb(231, 230, 236);
      color: black;
      width: 60%;
      height: 43vh;
      position: relative;
      top: 28%;
      left: 20%;
      display: flex;
      align-items: center;
      justify-content:center;
      font-size: 1.2rem;
      div{
        padding: 30px;
        text-align: center;
        div{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }
        &.phone-and-mail{
          padding: 50px 100px 50px;
        }
      }
      h2{
        font-size: 1.6rem;
        font-weight: 600;
        padding: 10px 0;
      }
      i{
        padding: 10px;
      }
      // .fa-phone-alt{
      //   padding: 0;
      // }
      p{
        padding: 5px 0;
      }
  }