@import "./reset.scss";
@mixin easeOut {
  transition: all 1s ease-out;
  
}
body {
  background-color: white;
  font-family: "Saira Semi Condensed", sans-serif;
}

@import "./menu.scss";
@import "./banner.scss";
@import "./about_company.scss";
@import "./footer.scss";
@import "./job.scss";
@import "./realization.scss";
@import "./contact.scss";
@media screen and (max-width: 1024px) {
.menu{
  padding: 0 10px;
  .company_signature {
    h2{
    font-size: 0.9rem;
  }
  .bigger_sign{
    font-size: 1.1rem;
  }
  }
  .menu_section{
    left: -3%;
    .navigation_part{
      padding: 5px;
      font-size: 1rem;
       &::after{
      content: " ";
      
      top: 34px;
    left:-5px;
      width: 117px;
    }
    &:nth-of-type(2)::after{
      width: 75px;
    left: 3px;
    
    }
    &:nth-of-type(3)::after{
      left: 5px;
      width: 175px;
    }
    &:nth-of-type(4)::after{
      width: 50px;
      left: 3px;
    
    }
    &:nth-of-type(5)::after{
      width: 59px;
      left: 7px;
    
    }
    }
   
  }
}

}


@media screen and (max-width: 768px) {
  .menu_btn{
    position: absolute;
    right: 65px;
    top: 24px;
    cursor: pointer;
    @include easeOut
    .btn_line{
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: black;
      @include easeOut;
    }
   
  } &.close{
      transform: rotate(180deg);
      .btn_line{
        &:nth-child(1){
          transform: rotate(45deg) translate(5px,5px);
              }
        &:nth-child(2){
            opacity: 0;
                        }
        &:nth-child(3){
          transform: rotate(-45deg) translate(7px,-6px);
                      }
      }
    }
.menu_section{
  flex-direction: column;
  position: relative;
  top: 75px;
  cursor: pointer;
}

}


