@import "./reset.scss";
@mixin easeOut {
  transition: all 1s ease-out;
  
}
body {
  background-color: white;
  font-family: "Saira Semi Condensed", sans-serif;
}

@import "./menu.scss";
@import "./banner.scss";
@import "./about_company.scss";
@import "./footer.scss";
@import "./job.scss";
@import "./realization.scss";
@import "./contact.scss";

@media screen and (max-width: 1250px) {
  @import "./max1024px/menu_1024.scss"
  }

@media screen and (max-width: 1024px) {
@import "./max1024px/menu_1024.scss"
}


@media screen and (max-width: 768px) {
  
@import "./max768px/menu_768.scss"
}


